<link rel="stylesheet" href="/css/styles.css">

<a href="/" style="text-decoration: none; color: inherit; align-items: center; display: flex; justify-content: center;"><h1>dostuffonline.com</h1></a>
<p style="text-align: center;">generic tools for doing stuff online</p>
<style>
  .tool-box {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
  }

  .tool-box:hover {
    background-color: #e0e0e0;
  }

  .coming-soon {
    color: #ff0000; /* Change this color to your desired "COMING SOON" color */
  }

  .tool-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap into new lines */
  }
</style>

<div class="tool-container">
  <a href="/math" class="tool-box">Math</a>
  <a href="/unit-conversion" class="tool-box">Unit Conversion <span class="coming-soon">COMING SOON</span></a>
  <a href="/file-conversion" class="tool-box">File Conversion <span class="coming-soon">COMING SOON</span></a>
  <a href="/network-testing" class="tool-box">Network Testing <span class="coming-soon">COMING SOON</span></a>
  <a href="/transcription" class="tool-box">Audio/Video Transcriptions <span class="coming-soon">COMING SOON</span></a>
  <a href="/youtube-downloader" class="tool-box">Youtube Downloader <span class="coming-soon">COMING SOON</span></a>
  <a href="/photo-examiner" class="tool-box">Photo EXIF viewer <span class="coming-soon">COMING SOON</span></a>
  <a href="/text-to-speech" class="tool-box">Text to Speech <span class="coming-soon">COMING SOON</span></a>
  <a href="/encryption-analysis" class="tool-box">Encryption Analysis <span class="coming-soon">COMING SOON</span></a>
  <a href="/file-compression" class="tool-box">Compress & Decompress Files <span class="coming-soon">COMING SOON</span></a>
  <a href="/table-formatting" class="tool-box">Table Formatting <span class="coming-soon">COMING SOON</span></a>
  <!-- Add more tools as they become available -->
</div>
<hr>