<%= include('partials/header') %>
<h1>Math</h1>
<div>
  <h2>Addition</h2>
  <input type="number" id="addNum1" placeholder="Number 1" />
  <input type="number" id="addNum2" placeholder="Number 2" />
  <button onclick="performAddition()">Add</button>
  <p id="addResult"></p>
</div>
<div>
  <h2>Subtraction</h2>
  <input type="number" id="subNum1" placeholder="Number 1" />
  <input type="number" id="subNum2" placeholder="Number 2" />
  <button onclick="performSubtraction()">Subtract</button>
  <p id="subResult"></p>
</div>
<script src="math.js"></script>
