<%- include('../partials/header') %>

<h2>Network Testing</h2>
<script src="../../js/network-testing.js"></script> 
<div>
  <h3>DIG</h3>
  <input type="domain" id="digNum1" placeholder="Domain" />
  <button onclick="performDIG()">DIG</button>
  <p id="digResult"></p>
</div>

